body{
  background-color: blue;
  background-image: url(https://media.tenor.com/h75s9-F1i0MAAAAe/james-doakes.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
