body{
  background-color: blue;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSD1NqOdOc0TdFLM0betTdjONhPq6H4eTOUzg&s);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
