body{
  background-color: blue;
  background-image: url(https://media.tenor.com/h75s9-F1i0MAAAAe/james-doakes.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.poloroid{
  width: 50%;
  background-color: pink;
  box-shadow: 0 4px 8px rgba( 0, 0, 0, 0.2);
  margin-bottom: 25px;
  border-radius: 5px;
}

.polaroid img{
  width: 20%;
  margin: auto;
  border-radius: 5px;
  display: block;
}
