body{
  background-color:#F5F5DC;
}

#logo{ 
  /* display: flex;
  justify-content: center; 
  align-items: center;      */
  display: block;
  margin: 0 auto;
  height: 350px; 
}

.centertxt{
  text-align:center;
}

/* .nav{
  margin: 0 auto;
  padding: 0;
} */
ul{  /* Targets Navbar, zooms in onto ul*/
   list-style-type: none;
  margin: 0;
  padding:0;
  overflow: hidden;
  
}

ul li{
  margin: 0 auto;
}

ul li a{
   /* float:left; */
   display: block;
   text-align: center;
   text-decoration: none;
   margin: 10px auto;
}




  
