body{
  background-color:#F5F5DC;
}

#logo{ 
  display: flex;
  justify-content: center; 
  align-items: center;     
  height: 350px; 
  margin: 50px , 0px, 50px, 50px;
}

.centertxt{
  text-align:center;
}

.nav{
  margin: 0;
  padding: 0;
}
.nav ul{  /* Targets Navbar, zomms in onto ul*/
   list-style-type: none;
   float:left;
   display: block;
   text-align: center;
   text-decoration: none;
}
