body{
  background-color:#F5F5DC;
  margin:0;
  padding:0;
}

#logo{ 
  display: block;
  margin: 0 auto;
  height: 350px; 
}

.centertxt{
  font-family: 'Oswald', sans-serif;
  text-align:center;
}


 ul{  /* Targets Navbar, zooms in onto ul*/
   list-style-type: none;
  margin: 0 auto;
  padding:0;
  overflow: hidden;
  text-align: center;  
}

 ul li{
  display: inline-block;
  margin: 0 auto;
}

 ul li a{
   display: block;
   text-align: center;
   text-decoration: none;
   margin: 10px auto;
}

.bottom{
  height:1000px; 
  width:auto;
  background-size: cover;       
  background-position: bottom;  
  background-repeat: no-repeat;
}

.footer{
  background-color:black;
  color:white;
  text-align:center;
}


  
