body{
  background-color:#F5F5DC;
}

#logo{ 
  /* display: flex;
  justify-content: center; 
  align-items: center;      */
  display: block;
  margin: 0 auto;
  height: 350px; 
}

.centertxt{
  text-align:center;
}

.nav{
  margin: 0 auto;
  padding: 0;
}
.nav ul{  /* Targets Navbar, zooms in onto ul*/
   list-style-type: none;
}

.nav ul li a{
   /* float:left; */
   display: inline-block;
   text-align: center;
   text-decoration: none;
   margin: 10px auto;
}




  
