body{
  background-color:#F5F5DC;
  margin:0;
  padding:0;
  overflow-x: hidden;
}

#logo{ 
  display: block;
  margin: 0 auto;
  height: 350px; 
}

.centertxt{
  font-family: 'Oswald', sans-serif;
  text-align:center;
}




.navbar {
  background-color: #f5f5dc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: black;
  font-family: 'Oswald', sans-serif;
}

/* Hide checkbox and hamburger by default on desktop */
#menu-toggle {
  display: none;
}

.menu-icon {
  display: none;
  font-size: 28px;
  cursor: pointer;
} 





 ul{  /* Targets Navbar, zooms in onto ul*/
   list-style-type: none;
  margin: 0 auto;
  padding:0;
  overflow: hidden;
  text-align: center;  
}

 ul li{
  display: inline-block;
  margin: 0 auto;
}

 ul li a{
   display: block;
   text-align: center;
   text-decoration: none;
   margin: 10px auto;
}

.bottom{
  width: 100%;
  margin: 0;
  padding: 0;
  background-size: contain;       
  background-position: bottom;  
  background-repeat: no-repeat;
}

.bottom img {
  width: 100%;
  height: auto;
  display: block;  
  margin:0;
  padding:0;
}
 
.footer {
  background-color: black;
  color: white;
  text-align: center;
  margin: 0;
  padding:0;
  bottom: 0;
  left: 0;
  right: 0;
}

pre{
  margin-bottom:0;
  padding:0;
}

.footer pre {
    margin-top: 0;      
    padding: 0;      
}



  
