body{
  background-color:#F5F5DC;
  margin:0;
  padding:0;
  overflow-x: hidden;
}

#logo{ 
  display: block;
  margin: 0 auto;
  height: 350px; 
}

.centertxt{
  font-family: 'Oswald', sans-serif;
  text-align:center;
}




 


 ul{  /* Targets Navbar, zooms in onto ul*/
   list-style-type: none;
  margin: 0 auto;
  padding:0;
  overflow: hidden;
  text-align: center;  
  color: black;
  font-family: 'Oswald', sans-serif;
}

 ul li{
  display: inline-block;
  margin: 0 auto;
  color: black;
  font-family: 'Oswald', sans-serif;
}

 ul li a{
   display: block;
   text-align: center;
   text-decoration: none;
   margin: 10px auto;
   color: black;
   font-family: 'Oswald', sans-serif;
}

.bottom{
  width: 100%;
  margin: 0;
  padding: 0;
  background-size: contain;       
  background-position: bottom;  
  background-repeat: no-repeat;
}

.bottom img {
  width: 100%;
  height: auto;
  display: block;  
  margin:0;
  padding:0;
}
 
.footer {
  background-color: black;
  color: white;
  text-align: center;
  margin: 0;
  padding:0;
  bottom: 0;
  left: 0;
  right: 0;
}

pre{
  margin-bottom:0;
  padding:0;
}

.footer pre {
    margin-top: 0;      
    padding: 0;      
}



  
