body{
  background-color:#F5F5DC;
  margin:0;
  padding:0;
  overflow-x: hidden;
}

h1{
  font-size:45px;
}

p{
  font-size:20px;
}

#logo{ 
  display: block;
  margin: 0 auto;
  margin-top: 35px;
  height: 350px; 
}

.centertxt{
  font-family: 'Oswald', sans-serif;
  text-align:center;
}

 ul{  /* Targets Navbar, zooms in onto ul*/
   list-style-type: none;
  margin: 0 auto;
  padding:0;
  overflow: hidden;
  text-align: center;  
  color: black;
  font-family: 'Oswald', sans-serif;
  position: fixed;   
  top: 0;         
  left: 0;
  width: 100%;     
  z-index: 1000;  
}

 ul li{
  display: inline-block;
  margin: 0 auto;
  color: black;
  font-family: 'Oswald', sans-serif;
}

 ul li a{
   display: block;
   text-align: center;
   text-decoration: none;
   margin: 10px auto;
   color: black;
   font-family: 'Oswald', sans-serif;
}

.bottom{
  width: 100%;
  margin: 0;
  padding: 0;
  background-size: contain;       
  background-position: bottom;  
  background-repeat: no-repeat;
}

.bottom img {
  width: 100%;
  height: auto;
  display: block;  
  margin:0;
  padding:0;
}
 
.footer {
  background-color: black;
  color: white;
  text-align: center;
  margin: 0;
  padding:0;
  bottom: 0;
  left: 0;
  right: 0;
}

pre{
  margin-bottom:0;
  padding:0;
}

.footer pre {
    margin-top: 0;      
    padding: 0;      
}

.centerimg{
  display:block;
  margin: 0 auto;
  height:350px;
  width: auto;
}

.row {
    display: flex;             
    align-items: center;       
    justify-content: space-between; 
    flex-wrap: wrap;         
    margin: 20px;  
    gap: 10px;

.leftxt {
    flex: 1;                 
    margin-right: 20px;         
    font-family: 'Oswald', sans-serif;
    font-size:30px;
}

.rightimg {
    flex: 1;                    
    text-align: center;        
}

.rightimg img {
    max-width: 100%;           
    height: auto;
}

/* .Larry {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px; 
    margin: 20px;
}

.Larry-item {
    flex: 1;               
    max-width: 30%;             
    height: 250px;            
    overflow: hidden;        
}

.Larry-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;       
    display: block;
} */

  .Larry {
    display: grid; /* arranges in grid*/
    grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
    gap: 20px;                             
    margin: 20px;
}

.Larry img {
    width: 100%;
    aspect-ratio: 1 / 1;   /* makes all images square */
    object-fit: cover;      /* crops images to fit square */
    display: block;
}

.button {
    display: inline-block;
    width: 200px;
    height: 50px;
    padding: 0;
    box-sizing: border-box;
    background-color: #444444;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
.button:hover {
    background-color: #222222;
}


  
